<ion-card *ngIf="place.photo_reference">
    <img class = "full-image"
    src="{{place.photo_reference}}"/>

    <ion-card-content>
      <div class="card-container">
        <div class="card-column">
          <h1><strong>{{place.name}}</strong></h1>
          <h6><strong>Address:</strong> {{place.vicinity}}</h6>
          <h6><strong>Rating:</strong> {{place.rating}}</h6>
            <h6 class="cash-container">
              <strong>Price Level: </strong>
              <div class="icon-container" *ngIf="place.level_array else doThis">
                <div *ngFor = "let cash of place.level_array">
                  <ion-icon id="cash" name="cash"></ion-icon>
                  <br>
                </div>
              </div>
              <ng-template #doThis>N/A</ng-template>
            </h6>
        </div>
        <div class='card-column-2'>
          <button class="heart" (click)="addToFaves(place)" ion-button end right>
            <ion-icon name="heart"></ion-icon>
          </button>
        </div>
      </div>
    </ion-card-content>
  </ion-card>